body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0d1017;
  color: white;
  
}

header {
  background: #010409;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  
}

.textbox {
  background: #0d1017;
  padding: 15px 20px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 0px 5px rgb(0, 0, 0);
}

.textbox a {
  text-decoration: none;
  color: #376aa3;
  font-weight: bold;
}

#links {
  text-align: center;
}

footer {
  text-align: center;
  margin: 40px 0 20px;
  color: white;
}
